<div class="flex align-items-center justify-content-center min-h-screen">
    <div class="flex flex-column align-items-center px-4 w-full">
        <h1 class="text-center text-2xl font-bold mb-5">Contactos</h1>

        <div class="grid w-full lg:w-10 justify-content-center">

            <!-- Card 2 -->
            <div class="col-12 md:col-6 lg:col-4">
                <div class="shadow-2 border-round surface-card p-3">
                    <div class="flex align-items-center mb-3">
                        <img src="/assets/demo/images/avatar/pbravo.jpg" alt="Avatar" class="border-circle"
                            style="width: 75px; height: 75px;">
                        <div class="ml-3">
                            <h2 class="text-xl font-medium">Pablo Bravo</h2>
                        </div>
                    </div>
                    <div>
                        <p class="text-sm mb-2"><strong>Correo Institucional:</strong> pbravoq&#64;est.ups.edu.ec</p>
                        <p class="text-sm mb-2"><strong>Correo Privado:</strong> pablobybravo&#64;gmail.com</p>
                        <p class="text-sm mb-2"><strong>Carrera:</strong> Computación</p>
                        <p class="text-sm"><strong>Celular:</strong> +593 96 790 0136</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
