<div class="grid">
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Modelo de alta prediccion</span>
                    <div class="text-900 font-medium text-xl">+0.75 Acuraccy</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-blue-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-shopping-cart text-blue-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">80% </span>
            <span class="text-500">Predicciones exitosas</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Modelo optimizado</span>
                    <div class="text-900 font-medium text-xl">200MB de peso total</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-orange-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-map-marker text-orange-500 text-xl"></i>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Diversidad de imagenes</span>
                    <div class="text-900 font-medium text-xl">Dataset completo</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-cyan-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-inbox text-cyan-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">+380k </span>
            <span class="text-500">Imagenes de entrenamiento</span>
        </div>
    </div>
    <div class="col-12 lg:col-6 xl:col-3">
        <div class="card mb-0">
            <div class="flex justify-content-between mb-3">
                <div>
                    <span class="block text-500 font-medium mb-3">Modelo escalable</span>
                    <div class="text-900 font-medium text-xl">Se puede mejorar su prediccion</div>
                </div>
                <div class="flex align-items-center justify-content-center bg-purple-100 border-round"
                    [ngStyle]="{width: '2.5rem', height: '2.5rem'}">
                    <i class="pi pi-comment text-purple-500 text-xl"></i>
                </div>
            </div>
            <span class="text-green-500 font-medium">+30% </span>
            <span class="text-500">Probabilidad de mejorar</span>
        </div>
    </div>

    <div class="col-12 xl:col-6">
        <div class="card">
            <h5>Tus predicciones recientes, {{ user?.name }}</h5>

            <!-- src/app/dashboard/dashboard.component.html -->
            <p-table [value]="recentPredictions" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Usuario</th>
                        <th>Imagen</th>
                        <th pSortableColumn="timestamp">Fecha <p-sortIcon field="timestamp"></p-sortIcon></th>
                        <th>Prediccion</th>
                        <th>Ver</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-prediction>
                    <tr>
                        <td>{{prediction.nombre}}</td>
                        <td style="width: 15%; min-width: 5rem;">
                            <img [src]="prediction.image_url" class="shadow-4" alt="Predicción" width="50">
                        </td>
                        <td>{{prediction.timestamp}}</td>
                        <td>{{prediction.predictions}}</td>
                        <td>
                            <button pButton pRipple type="button" icon="pi pi-search"
                                class="p-button p-component p-button-text p-button-icon-only"
                                (click)="showDetails(prediction)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
        <div class="card">
            <h5>Categorías más predichas</h5>
            <div class="text-center" *ngIf="chartData?.labels?.[0] === 'Sin datos'">
                <p class="text-red-500 font-bold">No hay datos reales, pero aquí tienes un gráfico vacío.</p>
            </div>
            <div class="chart-wrapper" style="width: 100%; height: 400px; overflow-y: auto;">
                <p-chart type="doughnut" [data]="chartData" [options]="chartOptions"></p-chart>
            </div>
        </div>
    </div>

    <div class="col-12 xl:col-6">

        <div class="card">
            <h5>Metricas del modelo</h5>
            <div class="card flex flex-column md:flex-row align-items-center justify-content-center gap-5">
                <img src="assets/demo/images/galleria/precision.png" alt="Precision" class="w-full md:w-6 md:h-auto">
            </div>
        </div>

        <div class="card">
            <h5>Predicciones Globales</h5>
            <!-- src/app/dashboard/dashboard.component.html -->
            <p-table [value]="allPredictions" [paginator]="true" [rows]="5" responsiveLayout="scroll">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Usuario</th>
                        <th>Imagen</th>
                        <th pSortableColumn="timestamp">Fecha <p-sortIcon field="timestamp"></p-sortIcon></th>
                        <th>Prediccion</th>
                        <th>Ver</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-prediction>
                    <tr>
                        <td>{{prediction.nombre}}</td>
                        <td style="width: 15%; min-width: 5rem;">
                            <img [src]="prediction.image_url" class="shadow-4" alt="Predicción" width="50">
                        </td>
                        <td>{{prediction.timestamp}}</td>
                        <td>{{prediction.predictions}}</td>
                        <td>
                            <button pButton pRipple type="button" icon="pi pi-search"
                                class="p-button p-component p-button-text p-button-icon-only"
                                (click)="showDetails(prediction)">
                            </button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>

    <p-dialog [(visible)]="displayModal" [header]="'Detalles de la Predicción'" [modal]="true" [closable]="true"
        [responsive]="true">
        <ng-template pTemplate="content">
            <div *ngIf="selectedPrediction">
                <p><strong>Usuario:</strong> {{ selectedPrediction.nombre }}</p>
                <p><strong>Fecha:</strong> {{ selectedPrediction.timestamp }}</p>
                <p><strong>Predicción:</strong> {{ selectedPrediction.predictions }}</p>
                <img [src]="selectedPrediction.image_url" alt="Imagen de la predicción"
                    style="width: 100%; height: auto;" />
            </div>
        </ng-template>
    </p-dialog>
</div>