<!-- Paso 1: Subir imagen -->
<section class="card w-11 sm:w-8 lg:w-6 mx-auto mb-4">
    <h2 class="text-center">1. Cargar Imagen</h2>
    <p-fileUpload
        name="file"
        customUpload="true"
        (uploadHandler)="onFileUpload($event)"
        chooseLabel="Seleccionar Archivo"
        uploadLabel="Subir"
        cancelLabel="Cancelar"
        [auto]="true"
        [maxFileSize]="10000000"
        accept="image/*"
        class="w-full"
    />
</section>

<!-- Paso 2: Predicción -->
<section class="card w-11 sm:w-8 lg:w-6 mx-auto">
    <h2 class="text-center">2. Predicciones</h2>
    
    <div *ngIf="predictions.length > 0" class="p-mt-4 predictions-container">
        <h3 class="p-mb-3 text-center">Etiquetas Detectadas:</h3>
        <ul class="p-pl-3">
            <li
                *ngFor="let prediction of predictions"
                class="prediction-item flex align-items-center gap-2"
            >
                <i class="pi pi-check-circle text-primary-500"></i>{{ prediction }}
            </li>
        </ul>

        <button
            pButton
            pRipple
            icon="pi pi-volume-up"
            class="p-button-text mt-3 mx-auto sm:mx-0"
            (click)="playAudio(audio_Url)"
        >
            Reproducir
        </button>
    </div>
</section>
